.order {
  margin-top: 40px;
  padding: 6%;

  h2 {
    font-size: 40px;
  }

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 3%;
    flex-wrap: wrap;
  }

  &-card {
    max-width: 100%;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
    min-width: 280px;
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 8px 0px,
      rgba(0, 0, 0, 0.12) 0px 8px 12px 0px;
    }

    h3 {
      font-size: 22px;
      margin-top: auto;
      text-transform: capitalize;
    }
  }
}
